@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    font-family: "Nunito Sans", sans-serif;
}

#language:not(:last-of-type)::after {
    content: ", ";
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
    cursor: pointer;
}
